<div class="btn-group">
        <button type="button" class="btn dropdown-toggle shoppingBasket" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-shopping-basket"></i>
        </button>
        <div class="dropdown-menu dropdown-menu-right">
            
            <table class="" style="width:500px;">
                <tr ng-repeat="product in cart">
                    
                    <td>
                        {{ product.name }} <br>
                        <div class="stars-outer">
                            <div class="stars-inner" ng-style="{ 'width': rating(product.rating) }"></div>
                        </div>
                    </td>
                    <td>
                        <div class="btn-toolbar " role="toolbar" aria-label="Toolbar with button groups">
                            <div class="btn-group mr-2" role="group" aria-label="First group">
                                <button type="button" class="btn btn-link" ng-click="addingToQuantity(product)" style="font-size:18px; color:black; text-decoration: none;">+</button>
                                <p class="px-1 pt-3">{{product.quantity}}</p>
                                <button type="button" class="btn btn-link" ng-click="subtractFromQuantity(product)" style="font-size:18px; color:black; text-decoration: none;">-</button>
                            </div>
                        </div>
                    </td>
                    <td>
                        {{ product.price * product.quantity | currency }}
                    </td>
                    <td>
                        <button type="button" class="btn btn-link" ng-click="removeItem()"><i class="fas fa-trash"></i></button>
                    </td>
                </tr>
            </table>
        </div>
      </div>