<!-- <div>
    <div class="row">
        <div class="card m-3 card-size col-md-4 shadow" data-ng-repeat="product in products | filter: searchText | orderBy: sortProducts.value | limitTo: rowLimit.value">
            <img ng-src="{{product.image}}" class="card-img-top image-size">
            <div class="card-body">
                <h5 class="card-title card-title-size">{{ product.name }}</h5>
                <div class="row">
                    <p class="card-text card-text-color col-md-5">{{product.price | currency}}</p>

                    <p class="card-text card-text-size col-md-3">
                        <div class="stars-outer">
                            <div class="stars-inner" ng-style="{'width': rating(product.rating)}"></div>
                        </div>
                    </p>
                </div>
            </div>
            <div class="row justify-content-between ml-5">
                    <input class="quantity col" type="number" name="quantity" id="quantity" ng-model="product.quantity">
                    <span class="col">${{product.price * product.quantity}}</span>
                    <button class="btn btn-sm btn-success col" ng-click="addItem(product)">Add to Cart</button>
                </div>
        </div>
    </div>
</div> -->


<div>
    <div class="row">
        <div class="card m-3 card-size col-md-4 shadow"
            data-ng-repeat="product in products | filter: searchText | orderBy: sortProducts.value | limitTo: rowLimit.value">
            <img ng-src="{{product.image}}" class="card-img-top image-size">
            <div class="card-body">
                <div class="row"></div>
                <h5 class="card-title">{{product.name}}</h5>
                <div class="row">
                    <p class="card-text col">{{product.price | currency}}</p>
                    <div class="stars-outer">
                            <div class="stars-inner" ng-style="{'width': rating(product.rating)}"></div>
                        </div>
                </div>
                <div class="row">
                    <button class="btn btn-success mt-2 col mr-2" ng-click="addItem(product)">Add {{product.quantity}} to Cart</button>
                    <input class="quantity col-md-4 mt-4" type="number" name="quantity" id="quantity" ng-model="product.quantity">
                    <div class="totalPriceBoxGrid ml-2 mt-4">
                        <p>{{product.price * product.quantity | currency}}</p>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>